<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aryan | Contact</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
   

</head>
<body>
   
     
    <div class="main bg-gray-100" id="main">        
      <div class="navbar w-[100%] h-[100px] md:w-[100%] py-6  flex  justify-between px-12 md:px-20 items-center" id="main-page">
        <div class="nav-left md:flex gap-5 text-[17px] hidden">
          <li class="links list-none relative flex justify-center">
            <a href="../index.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Work </a>
          </li>
          <li class="links list-none relative flex justify-center">
            <a href="./about.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400 "> About </a>
          </li>
          <li class="links list-none relative flex justify-center">
            <a href="./contact.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Contact </a>
          </li>
          <li class="links list-none relative flex justify-center">
            <a href="../public/Resume/Resume.pdf" target="_blank" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Resume </a>
          </li>
        </div>
        <div class="nav-center">
          <a href="../index.html" class="name tracking-[1px] text-3xl font-bold hover:text-gray-400 transition ease-in-out duration-500"> ARYAN </a>
        </div>
        <div class="nav-right flex gap-10">
          <a href="mailto:aryanhinglajia2663@gmail.com" target="_blank" class="hover:text-gray-400 text-2xl hidden md:inline transition ease-in-out duration-300">
            <i class="fa-solid fa-envelope"></i>
          </a>

          <a href="https://www.linkedin.com/in/aryan-h-07524921a/" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl hidden md:inline transition ease-in-out duration-300">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          
          <a href="https://github.com/Shonty266" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl hidden md:inline transition ease-in-out duration-300">
            <i class="fa-brands fa-github"></i>
          </a>

          <a href="https://www.behance.net/aryanh" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl hidden md:inline transition ease-in-out duration-300">
            <i class="fa-brands fa-square-behance"></i>
          </a>

          <a href="#" class="bars hover:text-gray-400 text-2xl block md:hidden transition ease-in-out duration-300">
            <i class="fa-solid fa-bars"></i>
          </a>

          <a href="#" class="close hover:text-gray-400 text-2xl hidden md:hidden transition ease-in-out duration-300">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
      </div>
      <div class="menu w-[100%] z-50 bg-gray-100 absolute flex flex-col justify-center gap-5 hidden" id="menu">
        <li class="links list-none relative flex justify-center">
          <a href="../index.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Work </a>
        </li>
        <li class="links list-none relative flex justify-center">
          <a href="./about.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> About </a>
        </li>
        <li class="links list-none relative flex justify-center">
          <a href="./contact.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Contact </a>
        </li>
        <li class="links list-none relative flex justify-center">
            <a href="../public/Resume/Resume.pdf" target="_blank" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Resume </a>
          </li>
      </div>
      

      <div class="section1 w-full flex flex-col justify-center items-center">
        <div class="md:w-[20%] w-[50%]  mt-10 flex justify-center items-center px-10"><h3 class="text-2xl w-32 text-gray-500 font-bold intro-text text-center">About Me</h3></div>
        <form action="https://api.web3forms.com/submit" method="POST">
            
            
            <div class="px-10 flex flex-col gap-10 items-center md:px-20 py-10  md:mt-2 shadow-md rounded-xl" id="form">
              <div class="w-[70%] flex flex-col gap-8 items-center">
                <input type="hidden" name="access_key" value="8c4a85c7-08c2-437d-a6db-e9b5db510b55">
                <input class="h-[40px] w-64 pl-[10px] rounded-md w-[300px] md:w-[500px] border-2 border-gray-300" type="text" name="name" placeholder="Name" required>
                <input type="email" placeholder="Email" class="h-[40px] w-[300px] pl-[10px] rounded-md md:w-[500px] border-2 border-gray-300" name="email" required>
              </div>
              <div class="w-[70%] flex flex-col gap-10 items-center">
                <textarea placeholder="Message" class="h-[150px] w-[300px] md:w-[500px] pl-[10px] rounded-md border-2 border-gray-300" name="message" required></textarea>
              </div>
              <button class="abt-btn md:w-[50%] px-10 z-10 overflow-hidden text-md cursor-pointer py-4 border-2 border-gray-500 font-semibold relative after:absolute after:content-[''] after:bottom-[-100%] text-black rounded hover:after:bottom-0 after:w-full after:h-full after:left-0 after:bg-black hover:text-white after:z-[-10] after:transition-all after:duration-700 after:ease-in-out transition-colors duration-300 text-center tracking-wider">Submit</button>
          </form>
    
    
    </div>

       
        
     

     
      
      <div class="w-full flex flex-col items-center pb-10">
        <div class="flex gap-8 pt-20 pb-6">
          <a href="mailto:aryanhinglajia2663@gmail.com" target="_blank" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
            <i class="fa-solid fa-envelope"></i>
          </a>
      
          <a href="https://www.linkedin.com/in/aryan-h-07524921a/" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          
          <a href="https://github.com/Shonty266" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
            <i class="fa-brands fa-github"></i>
          </a>
      
          <a href="https://www.behance.net/aryanh" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
            <i class="fa-brands fa-square-behance"></i>
          </a>
        </div>
        <div><h4>Copyright © Aryan 2024</h4></div>
      </div>
  
  </div>
      
    
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="/public/javascripts/script.js"></script>
</body>
</html>