<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Globe UI/UX | Aryan</title>
    <link rel="shortcut icon" href="../public/images/favicon.png"type="image/x-icon">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
   

</head>
<body>
   
     
    <div class="main bg-gray-100" id="main">  

        <div class="navbar w-[100%] h-[100px] md:w-[100%] py-6 flex justify-between pl-10 pr-4 md:px-20 items-center" id="navbar">
            <div class="nav-left md:flex gap-5 text-[17px]">
              <li class="links list-none relative flex justify-center">
                <a href="../index.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Back </a>
              </li>
              
            </div>
            
            <div class="nav-right flex gap-10">
              <a href="https://www.behance.net/aryanh" target="_blank" class="w-[100%]  flex items-center py-2 "><h4 class="text-gray-500 bg-gray-200 py-3 rounded-xl px-8 hover:text-black  transition-all duration-300 ease-in-out ">More UI/UX Designs<i class=" pl-2 fa-solid fa-arrow-up-right-from-square"></i></h4></a>
    
              <a href="#" class="bars hover:text-gray-400 text-2xl hidden transition ease-in-out duration-300">
                <i class="fa-solid fa-bars"></i>
              </a>
    
              <a href="#" class="close hover:text-gray-400 text-2xl hidden transition ease-in-out duration-300">
                <i class="fa-solid fa-xmark"></i>
              </a>
            </div>
          </div>

    
<div class="section1 w-full flex flex-col justify-center items-center gap-6 pb-10">
            <h3 class="w-[60%] text-center py-6 text-5xl w-32 mb-3 font-bold leading-[60px]">Go Globe UI/UX Design</h3>
            <div class="md:w-[60%] h-full w-[90%] h-[40vh]  rounded-md  relative md:mt-0 bg-red-200">
                <img class="w-full object-cover" src="../public/Ui Projects/go globe.png" alt="">
              
        
        </div>
            
            
          </div>
    
    
          <div class="section2 flex md:flex-row flex-col justify-center md:items-start items-center ">
    <div class="lg:w-[70%] w-[90%] flex flex-col justify-center md:pt-10 pt-6 pb-10">
        <div class="w-full px-4 md:pl-20 md:pr-14 md:mt-0"> 
            <h3 class="text-2xl mb-3 text-gray-600 font-bold intro-text">Project Overview:</h3>
                <div class="relative text-gray-500 text-justify">
                <p class="text-justify z-10 relative">To enhance the Go Globe website by creating a user-friendly and visually appealing platform for exploring and booking tour packages. The redesign aims to provide an intuitive experience for users to easily navigate through various travel options and make bookings effortlessly.</p>

                <p class="pt-6">
                  <h2 class="font-bold text-gray-600 mb-2">Problem:</h2>
                  <p class="text-justify z-10 relative">Users found it difficult to navigate through the site, and the booking process was not straightforward. Additionally, the visual design did not effectively convey the brand's vibrant and adventurous spirit, which is essential for a travel company.</p>
                <!-- <ol>
                  <li class="pb-2"><span class="font-bold text-gray-500">Tailored Design:</span> The design of the landing page is tailored to reflect the luxurious nature of our furniture collection. Every aspect, from color scheme to typography, is carefully chosen to evoke a sense of refinement.</li>
                  <li class="pt-2 pb-2"><span class="font-bold text-gray-500">Seamless Navigation:</span> Implemented with Swiper.js, the landing page offers a smooth and intuitive browsing experience, allowing users to effortlessly explore different furniture categories and products.</li>
                  <li class="pt-2 pb-2"><span class="font-bold text-gray-500">Engaging Animations:</span> GSAP animations are utilized to add dynamic and engaging transitions throughout the page, enhancing user interaction and visual appeal.</li>
                  <li class="pt-2 pb-2"><span class="font-bold text-gray-500">Responsive Layout:</span> The landing page is fully responsive, ensuring optimal viewing and interaction experiences across various devices and screen sizes.</li>
                  <li class="pt-2 pb-2"> <span class="font-bold text-gray-500">Focused Call-to-Action:</span> Strategically placed call-to-action elements prompt users to take desired actions, such as exploring specific product categories or making a purchase.</li>
                </ol> -->
                </p>

                <p>
                  <h2 class="text-gray-600 font-bold mb-2 mt-4">Solution:</h2>
                  The Go Globe website focuses on a vibrant and adventurous theme to better align with the brand identity. The design offers intuitive navigation, making it easier for users to find and book tours. Enhanced visuals, including high-quality images, improve user interaction and experience. Strategic placement of call-to-action elements guides users towards desired actions, such as exploring tour packages and completing bookings.


                </p>

                <p>
                  <h2 class="text-gray-600 font-bold mb-2 mt-4">Challenges & Learnings:</h2>
                  <div>
                     <ol>
                  <li class="pb-2"><span class="font-bold text-gray-500">User-Centered Design:</span> TFocused on prioritizing user needs in the design process by applying best practices and design principles. Created detailed personas to guide the design, aiming to align with user preferences.</li>
                  <li class="pt-2 pb-2"><span class="font-bold text-gray-500">Intuitive Navigation:</span> Enhanced skills in creating easy-to-use navigation structures. Used techniques like card sorting to organize information logically, improving user experience for finding and booking tours.</li>
                  <li class="pt-2 pb-2"><span class="font-bold text-gray-500">Visual Design and Branding:</span> GLearned the importance of iterative design and incorporating user feedback. Regular usability tests and adjustments based on feedback helped refine the design and enhance user satisfaction.</li>
                </ol>

                  </div>

</p>


                
                <p>
                  <h2 class="text-gray-600 font-bold mb-2 mt-4">Future Enhancements:</h2>
                  To enhance the design further, incorporating user research will be crucial. Conducting user interviews, surveys, and usability tests will provide valuable insights into user needs and preferences, allowing for a more tailored and effective design. Implementing responsive design principles is also essential for ensuring the website delivers an optimal experience across various devices and screen sizes. This will improve accessibility and user satisfaction, making the site more versatile and user-friendly.</p>

                  <p class="mt-4">Additionally, exploring the use of animations and interactive elements can significantly boost user engagement and visual appeal. Thoughtful integration of these features can create a more dynamic and enjoyable experience. Further refinements in visual design and branding will help maintain a fresh and relevant look, while accessibility improvements will ensure the site is usable by everyone, including individuals with disabilities. Advanced performance optimization techniques and personalized user experiences will also contribute to a smoother and more satisfying interaction with the website.</p>

            </div>
              </div>
    
    
    </div>
    <div class="md:w-[30%] w-[90%] flex flex-col justify-left md:pt-10 pt-0 pb-10">
      <div class="w-full px-4 md:mt-0"> 
          <h3 class="text-2xl w-32 mb-3 text-gray-600 font-bold intro-text">Tools</h3>
          <p class="flex justify-center items-center text-center px-10 py-3 bg-gray-200 font-semibold tracking-wider rounded-xl">Figma</p>
  </div>
  
  
  </div>
        </div>
    
    
    
        <div class="flex items-center justify-between ">
    
          <div class="w-full flex flex-col items-center pb-10 mt-4 justify-center">
            <div class="flex gap-8 mt-8 pb-2">
              <a href="mailto:aryanhinglajia2663@gmail.com" target="_blank" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-solid fa-envelope"></i>
              </a>
          
              <a href="https://www.linkedin.com/in/aryan-h-07524921a/" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              
              <a href="https://github.com/Shonty266" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-github"></i>
              </a>
          
              <a href="https://www.behance.net/aryanh" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-square-behance"></i>
              </a>
            </div>
            <div class="text-center"><h4>Copyright © Aryan 2024</h4></div>
            
          </div>
      
          <div class="flex justify-end lg:pr-10 pr-4 absolute right-0">
            <a href="#navbar" class="downarrow  w-10 h-14 border-[2px] border-gray-500 text-gray-500 font-bold font-name rounded-full flex items-center justify-center text-sm hover:bg-gray-200 transition ease-in-out duration-700">
                <i class="fa-solid fa-arrow-up"></i>
              </a>
          </div> 
        </div>
      
  
  </div>
      
  
    
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="../public/javascripts/script.js"></script>
</body>
</html>