<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belmond Hotel Website</title>
    <link rel="shortcut icon" href="../public/images/favicon.png"type="image/x-icon">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
   

</head>
<body>
   
     
    <div class="main bg-gray-100" id="main">  

        <div class="navbar w-[100%] h-[100px] md:w-[100%] py-6 flex justify-between pl-10 pr-4 md:px-20 items-center" id="main-page">
            <div class="nav-left md:flex gap-5 text-[17px]">
              <li class="links list-none relative flex justify-center">
                <a href="../index.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Back </a>
              </li>
              
            </div>
            
            <div class="nav-right flex gap-10">
              <a href="https://shonty266.github.io/Belmond-Hotel-Website/" target="_blank" class="w-[100%]  flex items-center py-2 "><h4 class="text-gray-500 bg-gray-200 py-3 rounded-xl px-8 hover:text-black  transition-all duration-300 ease-in-out ">See Live<i class=" pl-2 fa-solid fa-arrow-up-right-from-square"></i></h4></a>
    
              <a href="#" class="bars hover:text-gray-400 text-2xl hidden transition ease-in-out duration-300">
                <i class="fa-solid fa-bars"></i>
              </a>
    
              <a href="#" class="close hover:text-gray-400 text-2xl hidden transition ease-in-out duration-300">
                <i class="fa-solid fa-xmark"></i>
              </a>
            </div>
          </div>

    
<div class="section1 w-full flex flex-col justify-center items-center gap-6 pb-10">
            <h3 class="w-[60%] text-center py-6 text-5xl w-32 mb-3 font-bold leading-[60px]">Belmond Hotel Landing Page</h3>
            <div class="md:w-[60%] h-full w-[90%] h-[40vh]  rounded-md  relative md:mt-0 bg-red-200">
                <img class="w-full object-cover" src="../public/Frontend Projects/full hotel.png" alt="">
              
        
        </div>
            
            
          </div>
    
    
          <div class="section2 flex md:flex-row flex-col justify-center md:items-start items-center ">
    <div class="lg:w-[70%] w-[90%] flex flex-col justify-center md:pt-10 pt-6 pb-10">
      <div class="w-full px-4 md:pl-20 md:pr-14 md:mt-0"> 
        <h3 class="text-2xl mb-3 text-gray-600 font-bold intro-text">Project Overview:</h3>
            <div class="relative text-gray-500 text-justify">
            <p class="text-justify z-10 relative">Belmond Hotel is an elegantly designed luxury hotel landing page, meticulously crafted to immerse visitors in the world of opulence and refinement. Developed using HTML, Tailwind CSS, JavaScript, Swiper.js, and GSAP, this project epitomizes sophistication in the digital realm.</p>

            <p class="pt-6 ">
              <h2 class="font-bold text-gray-600 mb-2">Key Features:</h2>
            <ol>
              <li class="pb-2"><span class="font-bold">Tailored Design:</span>  The landing page design exudes the essence of luxury hospitality, with every element carefully chosen to evoke a sense of charm and sophistication.</li>
              <li class="pt-2 pb-2"><span class="font-bold">Seamless Navigation:</span> Leveraging Swiper.js, the landing page offers a seamless browsing experience, allowing visitors to explore different facets of the hotel, from accommodations to amenities, with ease.</li>
              <li class="pt-2 pb-2"><span class="font-bold">Engaging Animations:</span> GSAP animations enhance user engagement by adding fluid and captivating transitions throughout the page, captivating visitors from their first interaction.</li>
              <li class="pt-2 pb-2"><span class="font-bold">Responsive Layout:</span> he landing page is meticulously crafted to ensure responsiveness across various devices and screen sizes, delivering an optimal viewing experience for all visitors.</li>
              <li class="pt-2 pb-2"> <span class="font-bold">Strategic Call-to-Action:</span> Thoughtfully placed call-to-action elements prompt visitors to take desired actions, whether it's making a reservation, exploring special offers, or learning more about the hotel's amenities.</li>
            </ol>
            </p>

            <p>
              <h2 class="text-gray-600 font-bold mb-2 mt-4">Project Contribution:</h2>
              As the primary frontend developer for the Belmond project, I spearheaded the entire development process, from conceptualization to execution. This involved creating the HTML structure, styling elements with Tailwind CSS for a polished look, and integrating JavaScript libraries like Swiper.js and GSAP to elevate the user experience with seamless navigation and engaging animations.

            </p>

            <div>
              <h2 class="text-gray-600 font-bold mb-2 mt-4">Challenges & Learnings:</h2>
              <p>One of the main challenges encountered during the project was ensuring smooth integration of Swiper.js for seamless navigation between different sections of the landing page, such as accommodations, amenities, and special offers. Through thorough testing and optimization, I gained valuable insights into maximizing the performance and usability of Swiper.js. <br> &nbsp;
              </p>
              <p>Additionally, implementing intricate animations with GSAP required meticulous attention to detail and a deep understanding of animation principles. This experience enhanced my skills in animation development and troubleshooting, contributing to my growth as a frontend developer.
              </p>

            </div>
            <p>
              <h2 class="text-gray-600 font-bold mb-2 mt-4">Future Enhancements:</h2>
              In future iterations of the Belmond project, I aim to enhance the landing page with additional features such as real-time availability checking for accommodations, interactive maps for exploring the hotel's surroundings, and integration of customer reviews and testimonials for added credibility. Furthermore, I plan to optimize the landing page for improved performance and accessibility, ensuring a seamless and delightful browsing experience for all visitors.</p>

              <p class="mt-4">Overall, Belmond showcases my ability to create visually stunning and user-centric digital experiences in the realm of luxury hospitality, reflecting my passion for crafting captivating frontend interfaces that resonate with visitors and elevate brand identity.</p>

        </div>
          </div>
    
    
    </div>
    <div class="lg:w-[30%] w-[90%] flex flex-col justify-center  md:pt-10 pt-0 pb-10">
        <div class="w-full md:mt-0"> 
            <h3 class="text-2xl w-32 mb-3 text-gray-600 font-bold intro-text">Tools</h3>
            
            
            <div class="flex flex-wrap justify-center gap-4 text-gray-500">
            <p class="flex justify-center items-center text-center px-10 py-3 bg-gray-200 font-semibold tracking-wider rounded-xl">Html</p>
            <p class="flex justify-center items-center text-center px-10 py-3 bg-gray-200 font-semibold tracking-wider rounded-xl">CSS</p>
            <p class="flex justify-center items-center text-center  px-10 py-3 bg-gray-200 font-semibold tracking-wider rounded-xl">Javascript</p>
            <p class="flex justify-center items-center text-center  px-10 py-3 bg-gray-200 font-semibold tracking-wider rounded-xl">TailwindCSS</p>
            <p class="flex justify-center items-center text-center  px-10 py-3 bg-gray-200 font-semibold tracking-wider rounded-xl">GSAP</p>
            <p class="flex justify-center items-center text-center  px-10 py-3 bg-gray-200 font-semibold tracking-wider rounded-xl">Swiper Js</p>
          </div>
    </div>
    
    
    </div>
    
        </div>
    
    
    
    
          <div class="w-full flex flex-col items-center pb-10">
            <div class="flex gap-8 pt-20 pb-6">
              <a href="mailto:aryanhinglajia2663@gmail.com" target="_blank" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-solid fa-envelope"></i>
              </a>
          
              <a href="https://www.linkedin.com/in/aryan-h-07524921a/" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              
              <a href="https://github.com/Shonty266" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-github"></i>
              </a>
          
              <a href="https://www.behance.net/aryanh" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-square-behance"></i>
              </a>
            </div>
            <div class="text-center"><h4>Copyright © Aryan 2024</h4></div>
          </div>
          
  
  </div>
      
  
    
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="../public/javascripts/script.js"></script>
</body>
</html>