<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning App UI Design</title>
    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
   

</head>
<body>
   
     
    <div class="main bg-gray-100" id="main">  

      <div class="navbar w-[100%] h-[100px] md:w-[100%] py-6 flex justify-between pl-10 pr-4 md:px-20 items-center" id="navbar">
        <div class="nav-left md:flex gap-5 text-[17px]">
          <li class="links list-none relative flex justify-center">
            <a href="../index.html" class="decoration-none font-semibold transition ease-in-out duration-500 font-link hover:text-gray-400"> Back </a>
          </li>
          
        </div>
        
        <div class="nav-right flex gap-10">
          <a href="https://www.behance.net/aryanh" target="_blank" class="w-[100%]  flex items-center py-2 "><h4 class="text-gray-500 bg-gray-200 py-3 rounded-xl px-8 hover:text-black  transition-all duration-300 ease-in-out ">More UI/UX Designs<i class=" pl-2 fa-solid fa-arrow-up-right-from-square"></i></h4></a>

          <a href="#" class="bars hover:text-gray-400 text-2xl hidden transition ease-in-out duration-300">
            <i class="fa-solid fa-bars"></i>
          </a>

          <a href="#" class="close hover:text-gray-400 text-2xl hidden transition ease-in-out duration-300">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
      </div>
    
<div class="section1 w-full flex flex-col justify-center items-center gap-6 pb-10">
            <h3 class="w-[60%] text-center py-6 text-5xl w-32 mb-3 font-bold leading-[60px]">Learning App UI Design</h3>
            <div class="lg:w-[60%] lg:h-[100vh] w-[90%] h-[40vh]  rounded-md overflow-hidden relative md:mt-0 bg-red-200">
                <img class="w-full h-full object-cover absolute z-10 " src="../public/Ui Projects/Learning Hub.png" alt="">
              
        
        </div>
            
            
          </div>
    
    
          <div class="section2 flex md:flex-row flex-col justify-center md:items-start items-center ">
    <div class="md:w-[70%] w-[90%] flex flex-col justify-center md:pt-10 pt-6 pb-10">
        <div class="w-full px-4 md:pl-20 md:pr-14 md:mt-0"> 
            <h3 class="text-2xl  mb-3 text-gray-600 font-bold intro-text">Project Overview</h3>
                <div class="relative text-gray-500 text-justify">
                <p class="text-justify z-10 relative">The project involved crafting engaging user interfaces for a learning app, aiming to provide an intuitive and enriching experience for users. The primary objective was to design interfaces that seamlessly guided learners through their educational journey while fostering engagement and facilitating comprehension. By integrating thoughtful design elements and intuitive navigation, the app sought to offer users a seamless and enjoyable learning experience across various devices. Emphasis was placed on balancing aesthetic appeal with functionality, ensuring that learners could easily access educational content and interactive features. Through meticulous attention to detail and iterative design processes, the interfaces were meticulously refined to optimize usability and promote effective learning outcomes.</p>
            </div>
              </div>
    
    
    </div>
    <div class="md:w-[30%] w-[90%] flex flex-col justify-left md:pt-10 pt-0 pb-10">
        <div class="w-full px-4 md:mt-0"> 
            <h3 class="text-2xl w-32 mb-3 text-gray-600 font-bold intro-text">Tools</h3>
            <p class="flex justify-center items-center text-center px-10 py-3 bg-gray-200 font-semibold tracking-wider rounded-xl">Figma</p>
    </div>
    
    
    </div>
    
        </div>
    
    
    
    
        <div class="flex items-center">
    
          <div class="w-full flex flex-col items-center pb-10">
            <div class="flex gap-8 pt-20 pb-6">
              <a href="mailto:aryanhinglajia2663@gmail.com" target="_blank" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-solid fa-envelope"></i>
              </a>
          
              <a href="https://www.linkedin.com/in/aryan-h-07524921a/" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              
              <a href="https://github.com/Shonty266" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-github"></i>
              </a>
          
              <a href="https://www.behance.net/aryanh" target="_blank" rel="noopener" class="hover:text-gray-400 text-2xl  md:inline transition ease-in-out duration-300">
                <i class="fa-brands fa-square-behance"></i>
              </a>
            </div>
            <div class="text-center"><h4>Copyright © Aryan 2024</h4></div>
            
          </div>
          <div class="mt-10 flex justify-end pr-10">
            <a href="#navbar" class="downarrow w-10 h-14 border-[2px] border-gray-500 text-gray-500 font-bold font-name rounded-full flex items-center justify-center text-sm hover:bg-gray-200 transition ease-in-out duration-700">
                <i class="fa-solid fa-arrow-up"></i>
              </a>
          </div> 
        </div>
          
  
  </div>
      
  
    
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="../public/javascripts/script.js"></script>
</body>
</html>